<!-- <form action = "/search/{{todo.title}}" class="d-flex" method = "POST">
                    <input class="form-control me-2" name = "title" value = "{{todo.title}}" id = "title" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form> -->


right
<!-- <form  class="d-flex" >
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form> -->